<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}"
>
<body>
<div layout:fragment="content">
  <h2>Create New Reservation</h2>
  <form th:action="@{/reservations}" th:object="${reservation}" method="post">
    <label>Reservation Time:</label>
    <input type="datetime-local" th:field="*{reservationTime}" />
    <label>Number of Guests:</label>
    <input type="number" th:field="*{numberOfGuests}" />
    <label>User:</label>
    <select th:field="*{user.id}">
      <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}"></option>
    </select>
    <button type="submit">Create</button>
  </form>
</div>
</body>
</html>