<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}"
>
<body>
<div layout:fragment="content">


  <div class="card-header">
    <h2>Create New User</h2>
  </div>
  <div class="card-body">
  <form th:action="@{/users/new}" method="post" enctype="multipart/form-data">
    <div class="input-group mb-3">
    <input type="text" name="username" class="form-control" placeholder="id 입력해주세요"/>
    </div>

    <div class="input-group mb-3">
      <input type="text" name="name" class="form-control" placeholder="name 입력해주세요"/>
    </div>

    <div class="input-group mb-3">
    <input type="email" name="email" class="form-control" placeholder="email 입력해주세요"/>
    </div>

    <div class="input-group mb-3">
    <input type="password" id="userPassword" name="password" class="form-control" placeholder="password 입력해주세요"/>
    </div>

    <div class="input-group mb-3">
    <input type="password"  id="userPassword2" name="password2" class="form-control" placeholder="password 한번 더 입력해주세요"/>
    </div>

    <div id="passwordWarning" style="color: red; display: none;">
      비밀번호가 일치하지 않습니다.
    </div>

    <div class="input-group mb-3">
      <input type="tel"  name="phone" class="form-control" placeholder="phone 번호 입력해주세요"/>
    </div>

    <div class="input-group mb-3">
      <input type="text"  name="address" id="fullAddress" class="form-control" placeholder="address 한번 더 입력해주세요"/>
    </div>

    <div class="input-group mb-3">
    <input type="text" id="sample6_postcode" placeholder="우편번호">
    <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
    </div>
    <div class="input-group mb-3">
    <input type="text" id="sample6_address" class="form-control" placeholder="주소"><br>
    </div>
    <div class="input-group mb-3">
    <input type="text" id="sample6_detailAddress" class="form-control" placeholder="상세주소">
    </div>
    <div class="input-group mb-3">
    <input type="text" id="sample6_extraAddress" class="form-control" placeholder="참고항목">
    </div>


    <div class="input-group mb-3">
    <label for="profileImage">Profile Image: &nbsp;</label>
    <input type="file" id="profileImage" name="profileImage" class="form-control" accept="image/*" onchange="previewImage(this)" /><br/>
    </div>
    <!-- 미리보기 이미지를 표시할 곳 -->
    <img id="imagePreview" src="#" alt="Image Preview" style="display:none; width: 200px; height: auto; margin-top: 10px;"/>

    <button class="btn btn-primary w-100 submitBtn" type="submit">Join</button>
<!--    profileImageId-->
  </form>
  </div>

</div>

<!--자바스크립트 추가하는 영역-->
<script layout:fragment="javascript" th:inline="javascript">
  // 사진 선택시 미리보기
  function previewImage(input) {
    var reader = new FileReader();

    reader.onload = function(){
      var imagePreview = document.getElementById('imagePreview');
      imagePreview.src = reader.result;
      imagePreview.style.display = 'block';
    };

    if (input.files && input.files[0]) {
      reader.readAsDataURL(input.files[0]); // 이미지를 읽어 미리보기로 표시
    }
  }
  // 다음 주소 관련 함수
  function sample6_execDaumPostcode() {
    new daum.Postcode({
      oncomplete: function(data) {
        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
        var addr = ''; // 주소 변수
        var extraAddr = ''; // 참고항목 변수

        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
          addr = data.roadAddress;
        } else { // 사용자가 지번 주소를 선택했을 경우(J)
          addr = data.jibunAddress;
        }

        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
        if(data.userSelectedType === 'R'){
          // 법정동명이 있을 경우 추가한다. (법정리는 제외)
          // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
          if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
            extraAddr += data.bname;
          }
          // 건물명이 있고, 공동주택일 경우 추가한다.
          if(data.buildingName !== '' && data.apartment === 'Y'){
            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
          }
          // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
          if(extraAddr !== ''){
            extraAddr = ' (' + extraAddr + ')';
          }
          // 조합된 참고항목을 해당 필드에 넣는다.
          document.getElementById("sample6_extraAddress").value = extraAddr;

        } else {
          document.getElementById("sample6_extraAddress").value = '';
        }

        // 우편번호와 주소 정보를 해당 필드에 넣는다.
        document.getElementById('sample6_postcode').value = data.zonecode;
        document.getElementById("sample6_address").value = addr;
        // 커서를 상세주소 필드로 이동한다.
        document.getElementById("sample6_detailAddress").focus();
      }
    }).open();
  }
 // 주소 작성 후 최종 합치기
  // 각 input 필드의 값이 변경될 때마다 주소를 업데이트하는 함수
  function updateFullAddress() {
    var postcode = document.getElementById('sample6_postcode').value;
    var address = document.getElementById('sample6_address').value;
    var detailAddress = document.getElementById('sample6_detailAddress').value;
    var extraAddress = document.getElementById('sample6_extraAddress').value;

    // 연결할 문자열 생성
    var fullAddress = '('  + postcode + ')' + ' ' + address + ' ' + detailAddress + ' ' + extraAddress;

    // address 필드에 값 설정
    document.getElementById('fullAddress').value = fullAddress.trim();
  }

  // 각 input 필드에 change 이벤트 리스너 추가
  document.getElementById('sample6_postcode').addEventListener('input', updateFullAddress);
  document.getElementById('sample6_address').addEventListener('input', updateFullAddress);
  document.getElementById('sample6_detailAddress').addEventListener('input', updateFullAddress);
  document.getElementById('sample6_extraAddress').addEventListener('input', updateFullAddress);

  //패스워드 체크
  document.getElementById('userPassword2').addEventListener('input', function () {
    var password = document.getElementById('userPassword').value;
    var password2 = document.getElementById('userPassword2').value;
    var warningMessage = document.getElementById('passwordWarning');
    var passwordField = document.getElementById('userPassword');
    var passwordField2 = document.getElementById('userPassword2');

    if (password !== password2) {
      warningMessage.style.display = 'block';
      passwordField.style.border = '2px solid red';
      passwordField2.style.border = '2px solid red';
    } else {
      warningMessage.style.display = 'none';
      passwordField.style.border = '2px solid green';
      passwordField2.style.border = '2px solid green';
    }
  });
</script>
</body>
</html>