<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}"
>
<body>
<div layout:fragment="content">
  <h2>Login</h2>
  <form id="loginForm">
    <label>Username:</label>
    <input type="text" name="username" id="username" />
    <label>Password:</label>
    <input type="password" name="password" id="password" />
    <button type="submit">Login</button>
  </form>
</div>
<!--자바스크립트 추가하는 영역-->
<script layout:fragment="javascript" th:inline="javascript">
  document.getElementById('loginForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent the default form submission

    // Capture the input values
    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;

    // Store the values in the data object
    const data = {
      username: username,
      password: password
    };

    console.log('Data:', data);

    // Optionally, you can now send this data using Axios
    axios.post('/generateToken', data)
            .then(function (res) {
              console.log('Response:', res.data);
              const accessToken = res.data.accessToken
              const refreshToken = res.data.refreshToken

              // 웹 브라우저의 로컬 스토리지 저장.
              // 확인, 크롬 -> 개발자도구 -> application -> local Storage 확인 가능.
              localStorage.setItem("accessToken", accessToken)
              localStorage.setItem("refreshToken", refreshToken)
              window.location.href = '/users'; // Redirect on success
            })
            .catch(function (error) {
              console.error('Error:', error.response);
              window.location.href = '/users/login';
            });
  });
</script>
</body>
</html>