<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}"
>
<body>
<div layout:fragment="content">


  <div class="card-header">
    <h2>LOGIN Page</h2>
    <h3>세션 기반과 토큰 기반 2개가 같이 사용중</h3>
    <h3>기본 로그인 후, 레스트로 데이터 연동 하려면, 토큰발급 로그인 해야 해당 아이디로 로컬 스토리지에 토큰 발급됨</h3>
  </div>
  <div class="card-body">
  <form th:action="@{/users/login}" method="post" id="loginForm">
    <div class="input-group mb-3">
    <input type="text" class="form-control" name="username" id="username" placeholder="username 입력해주세요" />
    </div>
    <div class="input-group mb-3">
    <input type="password"  class="form-control" name="password" id="password" placeholder="PASSWORD 입력해주세요"/>
    </div>
    <button class="btn btn-primary w-100 submitBtn" type="submit">Login</button>
  </form>

<!--    <a href="/oauth2/authorization/kakao?state=check%3D1">-->
      <a href="/oauth2/authorization/kakao">
      <img th:src="@{/images/login/kakao_login_medium_narrow.png}" alt="카카오 로그인 화면">
    </a>
  </div>


</div>
<!--자바스크립트 추가하는 영역-->
<script layout:fragment="javascript" th:inline="javascript">
  document.getElementById('loginForm').addEventListener('submit', function(event) {
    // 입력 필드 가져오기
    const username = document.getElementById('username').value.trim();
    const password = document.getElementById('password').value.trim();

    // 유효성 검사
    if (!username) {
      alert('username을 입력해주세요.');
      event.preventDefault(); // 제출 방지
      return;
    }

    if (!password) {
      alert('password를 입력해주세요.');
      event.preventDefault(); // 제출 방지
      return;
    }



  });

</script>
</body>
</html>