<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}"
>
<body>
<div layout:fragment="content">

  <div class="card-header">
    <h2>Update User</h2>
  </div>
  <div class="card-body">
  <form th:action="@{/users/edit}" th:object="${user}" method="post" enctype="multipart/form-data">
    <input type="hidden"  name="id" class="form-control" th:value="${user.id}" >
    <div class="input-group mb-3">
    <input type="text"  name="username" class="form-control" placeholder="username 입력해주세요" th:value="${user.username}" >
    </div>
    <div class="input-group mb-3">
    <input type="text"  name="email" class="form-control" placeholder="email 입력해주세요" th:value="${user.email}" >
    </div>
    <div class="input-group mb-3">
      <input type="text"  name="phone" class="form-control" placeholder="phone 입력해주세요" th:value="${user.phone}" >
    </div>
    <div class="input-group mb-3">
      <input type="text"  name="address" class="form-control" placeholder="address 입력해주세요" th:value="${user.address}" >
    </div>
    <div class="input-group mb-3">
      <label for="profileImage">Profile Image: &nbsp;</label>
    <input type="file" class="form-control" id="profileImage" name="profileImage" accept="image/*" onchange="previewImage(this)" /><br/>
    </div>

    <button class="btn btn-primary w-100 submitBtn" type="submit">Update</button>
    <h3> 새 이미지</h3>
    <!-- 미리보기 이미지를 표시할 곳 -->
    <img id="imagePreview" src="#" alt="Image Preview" style="display:none; width: 200px; height: auto; margin-top: 10px;"/>
    <h3> 기존 이미지</h3>
    <span th:if="${user.profileImageId}">
        <img th:src="@{/users/{id}/profileImage(id=${user.id})}" alt="Profile Image" width="200"/>
      </span>
    <span th:if="${user != null and user.profileImageId == null}">
        <p>No profile image uploaded.</p>
      </span>
    <br>

  </form>
  </div>

</div>
<!--자바스크립트 추가하는 영역-->
<script layout:fragment="javascript" th:inline="javascript">
  function previewImage(input) {
    var reader = new FileReader();

    reader.onload = function(){
      var imagePreview = document.getElementById('imagePreview');
      imagePreview.src = reader.result;
      imagePreview.style.display = 'block';
    };

    if (input.files && input.files[0]) {
      reader.readAsDataURL(input.files[0]); // 이미지를 읽어 미리보기로 표시
    }
  }
</script>
</body>
</html>