<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}"
>
<body>
<div layout:fragment="content">

    <div class="card-header">
        <h2>Create New Payment</h2>
    </div>
    <div class="card-body">
    <form th:action="@{/payments}" th:object="${payment}" method="post">
        <label>Amount:</label>
        <div class="input-group mb-3">
<!--        <input type="number" id="amount" step="1" th:field="*{amount}" />-->
            <input type="text" id="amount"  th:value="100" readonly />
        </div>

        <label>Payment Time:</label>
        <div class="input-group mb-3">
        <input type="datetime-local" th:field="*{paymentTime}" />
        </div>

        <label>Customer:</label>
        <div class="input-group mb-3">
            <input type="text"  name="name"  id="user_name" class="form-control"  th:value="${user2.name}" placeholder="address 한번 더 입력해주세요"/>
        </div>

        <label>Phone:</label>
        <div class="input-group mb-3">
            <input type="tel"  name="phone" id="user_phone" class="form-control" th:value="${user2.phone}" placeholder="phone 번호 입력해주세요"/>
        </div>

        <label>Address:</label>
        <div class="input-group mb-3">
            <input type="text"  name="address"  id="user_address" class="form-control"  th:value="${user2.address}" placeholder="address 한번 더 입력해주세요"/>
        </div>

        <label>Reservation:</label>
        <div class="input-group mb-3">
        <select th:field="*{reservation.id}">
            <option th:each="reservation : ${reservations}"
                    th:if="${reservation.user.id == user2.id}"
                    th:value="${reservation.id}"
                    th:text="${reservation.reservationTime}"></option>
        </select>
        </div>
        <button class="btn btn-primary w-100 submitBtn" type="submit">Create</button>
    </form>
    </div>
    <input type="hidden" id="userid" name="id" class="form-control" th:value="${user2.id}" >
    <input type="hidden" id="username" name="id" class="form-control" th:value="${user2.username}" >
     <button id="orderBtn" class="btn btn-primary mt-3 w-100 submitBtn" type="submit">결제하기</button>
</div>
<!--자바스크립트 추가하는 영역-->
<script layout:fragment="javascript" th:inline="javascript">
//사전 검증
$(document).ready(function () {
    var merchant_uid = "O" + new Date().getTime();
    var totalPrice = $("#amount").val();
    console.log(merchant_uid,totalPrice)

    $.ajax({
        url: "http://localhost:8080/api/payments/prepare",
        method: "post",
        contentType: "application/json",
        headers: {
            // Authorization 헤더에 JWT 토큰 추가
            "Authorization": "Bearer " + localStorage.getItem("accessToken")
        },
        data: JSON.stringify({
            merchant_uid: merchant_uid, // 가맹점 주문번호
            amount: totalPrice // 결제 예정금액

        })
    });
});

    $("#orderBtn").on("click", function () {
        var userid = $("#userid").val();
        var username = $("#name").val();
        var phone = $("#user_phone").val();
        var address = $("#user_address").val();
        var zipCode = address.match(/\d{5}/)[0];

        // console.log(zipCode);

        var merchant_uid = "O" + new Date().getTime(); // 고유한 주문번호 생성

        var IMP = window.IMP;
        // 포트원
        // 관린자 콘솔 , https://admin.portone.io/
        // 로그인 후, 연동관리 -> 연동정보 -> 고객사 식별코드 가져오기,
        IMP.init('impxxxxxxxx'); // 가맹점 식별코드 입력

        IMP.request_pay({
                pg: "html5_inicis",           // 등록된 pg사 (적용된 pg사는 KG이니시스)
                pay_method: "card",           // 결제방식: card(신용카드), trans(실시간계좌이체), vbank(가상계좌), phone(소액결제)
                merchant_uid: merchant_uid,   // 주문번호
                name: "상품(예약)1",                  // 상품명
                amount: "100",           // 금액
                buyer_name: username,         // 주문자
                buyer_tel: phone,             // 전화번호 (필수입력)
                buyer_addr: address,    		  // 주소
                buyer_postcode: zipCode          // 우편번호
            }, function (rsp) {
                if (rsp.success) {
                    var mesg = '결제가 완료되었습니다.';

                    // 겅증 후 결제 정보 & 주문 정보 DB 저장

                } else {
                    var mesg = '결제를 실패하였습니다.';
                    alert(msg);
                }
            }
        );
    });
</script>


</body>
</html>