<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}"
>
<body>
<div layout:fragment="content">
  <h2>Payment List</h2>

  <a th:href="@{/payments/new}">Create New Payment</a>

  <ul>
    <li th:each="payment : ${payments}">

      <span id="paymentId" th:text="${payment.id}"></span> -
      <span th:text="${payment.paymentTime}"></span> -
      <span th:text="${payment.price}"></span> -
      <span th:text="${payment.reservationItem.payStatus}"></span> -
<!--      <span th:text="${payment.amount}"></span> - -->
<!--      <span th:text="${payment.reservation.reservationTime}"></span>-->
<!--      <a th:href="@{/payments/{id}/edit(id=${payment.id})}">Edit</a> |-->
<!--      <a th:href="@{/payments/{id}/delete(id=${payment.id})}">Delete</a>-->
      <button id="deletePay" class="btn btn-warning deletePayBtn" >삭제하기</button>
    </li>
  </ul>

  <!-- 페이지네이션 -->
  <div class="pagination justify-content-center">
    <ul class="pagination">
      <!-- First page button -->
      <li th:if="${pageNumber > 0}" class="page-item">
        <a th:href="@{/payments?page=0(size=${pageSize})}" class="page-link">First</a>
      </li>

      <!-- Previous page button -->
      <li th:if="${pageNumber > 0}" class="page-item">
        <a th:href="@{/payments(page=${pageNumber - 1}, size=${pageSize})}" class="page-link">Previous</a>
      </li>

      <!-- Page number buttons (10 pages visible at a time) -->
      <li th:each="i : ${#numbers.sequence(startPage, endPage)}"
          th:classappend="${i == pageNumber} ? 'active' : ''" class="page-item">
        <a th:href="@{/payments(page=${i}, size=${pageSize})}" class="page-link" th:text="${i + 1}">Page Number</a>
      </li>

      <!-- Next page button -->
      <li th:if="${pageNumber < totalPages - 1}" class="page-item">
        <a th:href="@{/payments(page=${pageNumber + 1}, size=${pageSize})}" class="page-link">Next</a>
      </li>

      <!-- Last page button -->
      <li th:if="${pageNumber < totalPages - 1}" class="page-item">
        <a th:href="@{/payments(page=${totalPages - 1}, size=${pageSize})}" class="page-link">Last</a>
      </li>
    </ul>
  </div>

</div>
<script layout:fragment="javascript" th:inline="javascript">
  // 예약 취소
  $(document).on('click', '#deletePay', function (e) {
    e.preventDefault(); // 기본 폼 제출 방지

    Swal.fire({
      title: "결제 삭제할까요?",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!"
    }).then((result) => {
      if (result.isConfirmed) {

        var id = $('#paymentId').text()
        console.log("id : " + id)


        // AJAX 요청
        $.ajax({
          url: '/api/payments/'+id, // 전송할 URL (Thymeleaf에서 설정한 엔드포인트)
          type: 'DELETE',
          contentType: 'application/json', // JSON 타입으로 전송
          dataType: 'json', // 서버에서 JSON 형식의 응답을 기대
          headers: {
            "Authorization": "Bearer " + localStorage.getItem("accessToken")
          },
          success: function (response) {
            // 성공 시 처리할 동작
            Swal.fire({
              title: '결제 삭제 완료. 감사합니다.',
              icon: 'success',
              imageUrl: 'https://unsplash.it/400/200',  // 원하시는 이미지 URL로 교체 가능
              imageWidth: 400,
              imageHeight: 200,
              imageAlt: 'Custom image'
            }).then(() => {
              window.location.href = '/payments';
            });
            console.log(response);
          },
          error: function (error) {
            // 에러 시 처리할 동작
            Swal.fire({
              title: '오류!',
              text: '예약 처리 중 오류가 발생했습니다.',
              icon: 'error'
            });
            console.log(error);
          }
        });
      } else {
        // 취소 선택 시 추가적인 동작이 필요하면 이곳에 추가
        Swal.fire({
          title: "실패됨!",
          text: "결제 삭제 실패",
          icon: "info"
        });
      }
    });
  }); //예약취소 end
</script>
</body>
</html>